<div id="city_trivia">
  <h1>Dublin City Trivia</h1>
  <a class="trivia_images">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Dublin-Molly-Malone.jpg">
  </a>
  <p>
    Here you will find tips and interesting fact on all things "Dublin", which has a long history stemming back over a
    thousand years to 988A.D. when the city was incorporated by the Vikings as a strategic trading center and metropolis
    serving its inhabitants over a relatively small area around today's "Wood Quay" not stretching beyond square mile
    of a buzzing metroplis of the Anceint world. International trade was by sea and the Viking's mastery of the sea
    left a footprint that is still noticble in today's Dublin landscape, people and culture.
  </p>
  <h2>Fun Facts</h2>
  <p>What do you know about Dublin?</p>
  <ul>
    <li>
      <span>Leinster</span> House In Dublin was originally built as a private home for the Duke of Leinster.
      At that time, the most fashionable part of Dublin was the North Side and he was asked why he was
      building on the South Side. He said “Where I go, fashion follows me.!” ….. and
      to this day the most fashionable part of Dublin is the South Side.
    </li>
    <li>
      <span>Tallaght</span> is one of the oldest place names in Ireland and it means “The Plague Cemetery”
    </li>
    <li>
      The Original Name Of <span>Trinity College</span> Was “Trinity College Near Dublin”. The capital
      was a lot smaller then.
    </li>
    <li>
      <span>Dublin</span> was originally called Dubh Linn meaning Black Pool. The pool to which the name referred is the
      oldest known natural treacle lake in Northern Europe and currently forms the centrepiece of the penguin
      enclosure in Dublin Zoo.
    </li>
    <li>
       <span>Dublin’s O’Connell Bridge</span> was originally made of rope and could only carry one man
       and a donkey at a time. It was replaced with a wooden structure in 1801.
       The current concrete bridge was built in 1863 and was first called “Carlisle Bridge”.
    </li>
    <li>
      <span>Dublin’s Oldest Traffic Light</span> is situated beside the Renault garage in Clontarf.
      The light, which is still in full working order, was installed in 1893 outside the
      home of Fergus Mitchell who was the owner of the first car in Ireland.
    </li>
    <li>
      <span>Molly Malone</span> is a Dublin legend who's actual existence is questioned to this day. Despite her fame as a prostitute,
      she has many fans who claim she never was one. Instead they claim that the sculptural depiction of her makes sense,
      because so many women nursed babies in public in her era and the site of a woman’s breasts was quite ordinary.
      The records of her birth and death have been “discovered" numerous times. However, there are an unlimited number
      of Molly Malones born in Dublin who could be mistaken for her. Though she lived in the 1600’s the song
      “Cockles and Mussels" about her does not appear in any historic record before the 1880’s. This persistent doubt over her
      existence did not stop the City celebrating her with many statues erected and songs sung in Dublin for the city's
      millenium celebrations in 1988.
    </li>
  </ul>
  <div id="dublin_images">
    <img [@viewDubImages]='state' (click)="animateMe()"  [src]="imgOConnellBridge">
    <img [src]="imgBusyDublinSt">
    <img [@viewDubImages]='state' (click)="animateMe()" [src]="imgViewToIFSC">
    <img [src]="imgCityLink">
  </div>
</div>
