#overall_tips {
  margin: 5% 5% 10% 10%;
  position:relative;
}
#ang4Tips {
    margin: 3%;
    width: 100;
}
div {
  border-radius: 2%;
}
img {
  width: 90%;
  margin: 0.5%;
}
#workstation {
  width:20%;
  float:right;
  margin-left: 1%;
}
#workstation img {
  border-radius: 8%;
}
#setup{
    margin-top: 7%;
}
