<div id="feature">
  <h3>Places to see in Dublins Fair City</h3>
  <ul>
    <li>
      <p><a class="city_links" target="_blank" href="http://www.dublincastle.ie/tickets-and-times/">Dublin Castle</a></p>
    </li>
    <li>
      <p><a class="city_links" target="_blank" href="https://www.tcd.ie/visitors/tours/">Trinity College</a></p>
    </li>
    <li>
      <p><a class="city_links" target="_blank" href="https://www.guinness-storehouse.com/">Guiness Brewary</a></p>
    </li>
    <li>
      <p><a class="city_links" target="_blank" href="http://www.irishwhiskeymuseum.ie/">Whiskey Musuem</a></p>
    </li>
    <li>
      <p><a class="city_links" target="_blank" href="http://www.oireachtas.ie/parliament/visitsevents/visitleinsterhouse/">Dail Eireann (Irish Parliment)</a></p>
    </li>
    <li>
      <p><a class="city_links" target="_blank" href="https://www.dublinsightseeing.ie/citytour.aspx">Bus Tours</a></p>
    </li>
    <li>
      <p><a class="city_links" target="_blank" href="http://www.failteireland.ie/">Bord Failte (Irish Tourist Board)</a></p>
    </li>
  </ul>
</div>
