<div>
  <header id="main_header">
    <nav>
      <ul class="navbar">
        <li>
          <a class="nav_link" routerLink="/home">Home</a>
        </li>
        <li>
          <a class="nav_link" routerLink="/about">About</a>
        </li>
        <li>
          <a class="nav_link" routerLink="/citytrivia">Dublin City Trivia</a>
        </li>
        <li>
          <a class="nav_link" routerLink="/ang4tips">Angular 4 Tips</a>
        </li>
        <li>
          <a class="nav_link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </nav>
    <h1> {{welcome}}</h1>
    <h2> {{tagline}}</h2>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
